.submit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .submit-proposal {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    max-width: 420px;
    color: white;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: left;
  }

  .input-group {
    width: 100%;
    padding: 0px 30px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    align-self: flex-start;
  }

  .input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--card-border-color);
    margin-bottom: 8px;
    font-size: 16px;
    color: #fff;
    background-color: var(--background-color-card);
  }

  .input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
  }

  .add-option {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    color: var(--primary-color);
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    gap: 6px;
  }

  .add-option svg {
    margin-right: 4px;
  }

  .vote-button {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    border-radius: 9999px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .submit-modal-overlay {
    .submit-proposal {
      padding: 16px;
      max-width: 90%;
    }

    .title {
      font-size: 18px;
      margin-bottom: 12px;
    }

    .input-group {
      padding: 0px 16px;
      margin-bottom: 12px;
    }

    .input-group label {
      font-size: 12px;
      margin-bottom: 8px;
    }

    .input {
      padding: 8px;
      font-size: 14px;
    }

    .vote-button {
      font-size: 14px;
    }

    .add-option {
      font-size: 12px;
      gap: 4px;
      margin-bottom: 10px;
    }
  }
}
