#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em 2em;
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  > img {
    /* border: 1px solid #fff; */
  }
}

.buttonsStack {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  > button {
    padding: 15px 18px 15px 18px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    cursor: pointer;
  }
  > button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
  }
  #connectVallet {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  #connectVallet:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
  }
}

